{% extends 'admin-base.html' %}
{% block content %}
<div class="mdui-row"><div class="mdui-col-xs-12">
    <div class="mdui-card mdui-hoverable">
        <div class="mdui-card-content">
            <div class="mdui-row-sm-1 mdui-row-md-2">
                <div class="mdui-col">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">lock_open</i>
                        <label class="mdui-textfield-label">Old password</label>
                        <input class="mdui-textfield-input" type="password" id="old-password-input" required>
                    </div>
                </div>
            </div>
            <div class="mdui-row-sm-1 mdui-row-md-2">
                <div class="mdui-col">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">lock</i>
                        <label class="mdui-textfield-label">New password</label>
                        <input class="mdui-textfield-input" type="password" id="new-password-input" required>
                    </div>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">repeat</i>
                        <label class="mdui-textfield-label">Repeat password</label>
                        <input class="mdui-textfield-input" type="password" id="repeat-password-input" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>

<script>
    $('#save-button').on('click', function() {
        let oldPassword = $('#old-password-input').val();
        let newPassword = $('#new-password-input').val();
        let repeatPassword = $('#repeat-password-input').val();

        if (newPassword !== repeatPassword) {
            mdui.snackbar('Repeat password not matching.');
        } else {
            $.ajax({
                type: 'POST',
                url: '/login',
                contentType: 'application/json',
                data: JSON.stringify({
                    password: oldPassword,
                    newPassword: newPassword
                }),
                success: function(data) {
                    if (data['message'] === 'password-change-success') {
                        mdui.snackbar('Password change success.');
                        $('#old-password-input').val('');
                        $('#new-password-input').val('');
                        $('#repeat-password-input').val('');
                    } else {
                        mdui.snackbar('Old password wrong.');
                    }
                }
            })
        }
    })
</script>
{% endblock %}